.title Training Interface

%form{method: 'post'}
  %p.train 
    Human:
    %input{type: 'text', size: '60', name: 'input'}
    %input{type: 'submit', value: 'Talk'}
  .spacer
  %p.train 
    That:
    %input{type: 'text', size: '60', name: 'that'}
    .spacer
  %p.train 
    Topic:
    %input{type: 'text', size: '60', name: 'topic'}
    %input{type: 'hidden', name: 'authenticity_token', value: form_authenticity_token}

- if @response
  - @response[:inputs].reverse.each_index do |i|
    %hr

    .train-response
      %b Human:
      = @response[:inputs][i]
      .spacer
      %b Matched:
      = @response[:matched_patterns][i]
      - if (source_file = @response[:source_files][i])
        &nbsp;(from 
        %a{href: source_file} #{source_file}
        ) 
      .spacer
      %b TrumBot2016:
      = @response[:outputs][i]
