

.container
  .row
    .title TrumpBot2016
  
  #chat-ui
    = render partial: 'chat_ui', locals: {messages: @chat_session.messages}
                        
                            

  .div{style: 'display: none;'}


    %form{method: 'post', action: 'talk', id: 'send-message-form'}
      %p.ask 
        Talk:
        %input{type: 'hidden', name: 'authenticity_token', value: form_authenticity_token}
        %input{type: 'text', size: '60', name: 'input', id: 'input'}
        %input{type: 'submit', value: 'Talk'}
 

    %form{method: 'post', action: 'reset', id: 'reset-conversation-form'}
      %input{type: 'hidden', name: 'authenticity_token', value: form_authenticity_token}
      %input{type: 'submit', value: 'Reset Conversation'}
    %form{method: 'post', action: 'download', id: 'download-transcript-form'}
      %input{type: 'hidden', name: 'authenticity_token', value: form_authenticity_token}
      %input{type: 'submit', value: 'Download Transcript'}

:javascript

  $(document).ready(function(){
    doDocumentReady();
  });

  $(window).load(function() {
     scrollToBottomOfChatUI();
  });

  function scrollToBottomOfChatUI(){
    $('.panel-body').scrollTop($('.panel-body')[0].scrollHeight);
  }

  function doDocumentReady() {
    $('#download-transcript').on('click', function(){
      $('#download-transcript-form').submit();
    });
    $('#reset-conversation').on('click', function(){
      $('#reset-conversation-form').submit();
    });
    $('#btn-chat').on('click', function(){
      input = $('#btn-input').val()

      $('#current-input').text(input);
      $('#current-exchange').css('display', 'block');
      scrollToBottomOfChatUI();
      $('#input').val(input);


      $.ajax({
        url: 'talk.js',
        method: 'POST',
        data: $('#send-message-form').serialize()
      })
      $('#btn-input').val('');
    });
    
    $('#btn-input').focus();

    $('#btn-input').on('keypress', function(e){
      if (e.keyCode == 13){
        $('#btn-chat').click();
      }
    });
  }
