.title TrumpBot2016

- session_inputs = @chat.requests
- session_outputs = @chat.responses

- if (last_input = session_inputs.last)
  .exchange
    You said: #{last_input}
    %br
    TrumpBot2016: #{session_outputs.last}

%form{method: 'post'}
  %p.ask 
    Talk:
    %input{type: 'hidden', name: 'authenticity_token', value: form_authenticity_token}
    %input{type: 'text', size: '60', name: 'input'}
    %input{type: 'submit', value: 'Talk'}

- if (session_inputs.present?)
  .conversation
    .title
      Conversation
    - session_inputs.each_index do |i|
      You said: #{session_inputs[i]}
      %br
      TrumpBot2016: #{session_outputs[i]}
      %br

- if (session_inputs.present?)

  %form{method: 'post', action: 'reset'}
    %input{type: 'hidden', name: 'authenticity_token', value: form_authenticity_token}
    %input{type: 'submit', value: 'Reset Conversation'}
