// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

.title {
   font-size: 36px;
   color: white;
   text-align: center;
 }


 label {
   color: white;
 }

 body {
   background-image: url('https://thenypost.files.wordpress.com/2015/06/usa-election_trump1.jpg');
   background-size: cover;
   margin-bottom: 60px;
 }

.body-image-caption {

  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 60px;
  /* Set the fixed height of the footer here */
  height: 80px;
  color: white;
  background-color: #000000;
}


// Grokked from http://getbootstrap.com/examples/sticky-footer/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

 .conversation {
   width: 500px;
   margin: 0 auto;
   color: white;
   text-align: left;
   line-height: 20px;
 }

 .conversation > .title {
   font-size: 24px;
   color: white;
   text-align: left;
 }

.train {
   font-weight: bold;
   color: white;
   text-align: left;
 }

 .spacer {
   display: block;
   height: 30px;
 }

 .train-response {
   width: 500px;
   margin: 0 auto;
   color: white;
   text-align: left;
   line-height: 20px;
 }

 .chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

