/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .title {
   font-size: 36px;
   color: white;
   text-align: center;
 }

 .exchange {
   width: 500px;
   margin: 0 auto;
   color: white;
   text-align: left;
   line-height: 20px;
 }

 .ask {
   font-weight: bold;
   color: white;
   text-align: center;
 }

 form {
   width: 500px;
   margin: 0 auto;
 }

 body {
   background-image: url('https://thenypost.files.wordpress.com/2015/06/usa-election_trump1.jpg');
   background-size: cover;
 }

 .conversation {
   width: 500px;
   margin: 0 auto;
   color: white;
   text-align: left;
   line-height: 20px;
 }

 .conversation > .title {
   font-size: 24px;
   color: white;
   text-align: left;
 }
